@font-face {
    font-family: "Mulish";
    src: url(./Fonts/Mulish-VariableFont_wght.ttf) format("ttf");
}

#kys {
    margin-top: auto;
    margin-bottom: -16px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

#convince {
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    left: 30px;
    top: 150px;
    position: absolute;
    color: gray;
}

#arrowimg {
    display: flex;
    position: sticky;
    width: 20%;
    margin-left: 1vw;
}

h1 {
    margin-top: 4rem;
    text-align: center;
}

.help-link {
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #bbb;
    padding: 20px 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

.btn-desktop-purple {
    background-image: linear-gradient(to bottom, #8241f9, #4e277b);
    border-color: #150a27;
    color: #fff;
}

.btn-large {
    padding: 0.75em 1.25em;
    font-size: inherit;
    border-radius: 6px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    appearance: none;
}

.f3 {
    font-size: 20px !important;
}

.my-3 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.mx-1 {
    margin-right: 4px !important;
    margin-left: 4px !important;
}

.text-center {
    text-align: center !important;
}
a {
    text-decoration: none;
}

.adv {
    font-size: 24px;
    opacity: 80%;
}

h4 {
    margin-top: -0.5rem;
}

#tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whyex {
    margin-top: 5rem;
    text-align: left;
    letter-spacing: 0.3px;
    background-color: rgb(215, 242, 255);
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;

}

#howex {
    letter-spacing: 0.3px;
    background-color: rgb(215, 242, 255);
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
}

footer {
    margin-top: 5rem;
}

ul {
    list-style:disc;
}

ul li {
    margin-bottom: 2rem;
}

.num {
    margin-top: -58px;
    margin-left: -25px;
}

.step1holder {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step2 {
    padding: 40px 10rem 40px 10rem;
}

.img1 {
    width: 40rem;
    display: flex;
}

#upbutton {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 242, 255);
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    padding: 3rem;
    font-size: 5rem;
    border-radius: 1rem;
  }



@media (max-width: 1255px) {
    h2 {
        margin-top: 2rem;
    }
    .help-link {
        top: 0;
        right: 0;
        display: flex;
        justify-self: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
        background-color: #333;
        color: #bbb;
        padding: 20px 40px;
        border-radius: 4px;
        font-size: 20px;
        font-weight: bold;
    }
    #top {
        height: auto;
    }

    .img1 {
        display: none;
    }

    .num {
        margin-top: -68px;
    }
    div.step2 {
        width: 50%;
        padding: 50px;

    }
    #convince {
        display: none;
    }
}



@media (max-width: 586px) {
    #top {
        height: auto;
    }
    h2 {
        margin-top: 2rem;
    }
    .help-link {
        top: 0;
        right: 0;
        display: flex;
        justify-self: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
        background-color: #333;
        color: #bbb;
        padding: 20px 40px;
        border-radius: 4px;
        font-size: 20px;
        font-weight: bold;
    }

    .img1 {
        display: none;
    }
    div.step2 {
        width: 50%;
        border-radius: 1rem;
        padding: 50px;
    }
    #kys {
        width: 100%;
    }
}